@model IEnumerable<LibraryAssignment.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pageTitles">Explore B o o k s</h1>

<div class="partialbox">
    @{await Html.RenderPartialAsync("GetBooks", Model);}
</div>