@model IEnumerable<CustomerBookList>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pageTitles">Booking H i s t o r y</h1>
<p>
    <a class="btnLinks" asp-action="Create">Create a New Booking For Customer</a>
</p>
<form asp-action="GetBooksViaCustomer">
    <div class="input-group">
      <div class="form-outline">
          <label class="form-label" for="id">Get books via Customer</label>
        <input type="search"name="id" id="id" class="form-control" required /> 
          <button type="submit" class="btn btn-primary">GO</button>
      </div>     
    </div>
  
</form>


<div class="partialbox">
    @{await Html.RenderPartialAsync("BookedBooks", Model);}
</div>
