@model IEnumerable<LibraryAssignment.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pageTitles">Explore C u s t o m e r s</h1>

<div class="partialbox">
    @{await Html.RenderPartialAsync("GetCustomers", Model);}
</div>



