html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to left bottom, #58e7d4, #38d4b2, #1dc18f, #0bad6a, #0d9943);
}

p{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color:azure;
}





.indexSection {
    margin: 30px;
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 2px;
    transition: all .2s ease-in-out;
}
.indexSection:hover {
    transform: scale(1.1);       
}
.HomeIndexlinks{
    text-decoration: none;
    color: inherit;
}

.pageTitles{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: solid 1px;   
    text-align:center;
    margin-bottom:80px;
}

.btnLinks {
    text-decoration: none;
    color: inherit;
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    border-radius: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    transition: all .2s ease-in-out;
}
.btnLinks:hover {
    font-size: 30px;   
}




    .partialbox {
        position: relative;
        justify-content: space-evenly;
        width: 1000px;
    }




.card {
    margin: 50px;
    background: green;
    box-shadow: 0px 10px 15px 
}
.list-group-item{
    background: red;
}
/*Scroller and table-design in Customer and Book-table*/
.input-group {
    margin-bottom: 30px;
}
.btn {
    height: 33%;
    width:25%;
    border-radius: 10px;  
}

.bookCoversScroller {
    max-height: 800px;
    overflow: auto;
}

.setScrollCustomers {
    max-height: 650px;
    overflow: auto;
}
.setScrollBooks {   
    max-height: 800px;
    overflow: auto;
}
.setScrollCustomerBookList {
    max-height: 800px;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*----------------------------------------------*/